{% extends 'base.html' %}
{% block title %} {{ name }} {% endblock title %}
{% block content %}

<body>
  <span title="{{ name }}" id="title-pj"><a href="/">{{ name }}</a></span>
  <div class="container">
    <div>
      <ul class="menutop">
        <li><a href="#">موبایل</a></li>
        <li><a href="#">مانیتور</a></li>
        <li><a href="#">لپ تاپ</a></li>
        <li><a href="#">فلش</a></li>
        <li><a href="#">بلندگو</a></li>
        <li><a href="#">رسانه</a></li>
        <li><a href="#">نمایشگر</a></li>
        <li><a href="#">تخته هوشمند</a></li>
        <li><a href="#">میکروفون</a></li>
        <li><a href="#">سخت افزار</a></li>
        <li><a href="#">LED چراغ</a></li>
        <li><a href="#">ساعت</a></li>
        <li><a href="#">لوازم جانبی</a></li>
        <li><a href="#">ریزقطعات الکترونیکی</a></li>
        <li><a href="#">درخواست شما</a></li>
        <li><a href="#">گجت ها</a></li>
        </ul>
              <div class="atterbute">
                <h2>LapTop</h2>
                          <div class="atterbute2">
                              <div class="atterbute3">
                                <img src="../static/image/IMG_20240207_180924.jpg" alt="">
                                <p>ZBook HD 2019 I5 core</p>
                                <p>OS: Windows 10 Crack</p>
                                <p>Storage: 500GB/SSD/HDD</p>
                                <p>RAM: 8G</p>
                                <p>Health: 89%</p>
                                <p>Battry: 65%</p>
                                <p>City: Tehran</p>
                                <p>Phone: 09386484908</p>
                                <p>Lacation: <a href="../static/FilesKML/iran.kmz">iran.kmz</a></p>
                                <p>Price: 10m</p>
                              </div>

                          </div>
              </div>
    </div>
  </div> <!-- class="container" -->
</body>
{% endblock content %}